<div class="card">
  <h4 class="card-header bg-primary-darker  text-white text-center">Change Password</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-7 center">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="loginId" class="col-md-4 text-right form-label-lg">Login ID </label>
            <div class="col-md-7">
              <input
              formControlName="loginId"
              [ngClass]="{'is-invalid': (formControl['loginId'].touched || formControl['loginId'].dirty) && formControl['loginId'].invalid}"
              type="text" class="form-control text-big" placeholder="Write Login ID/Name ">
              <div *ngIf="(formControl['loginId'].touched || formControl['loginId'].dirty) && formControl['loginId'].invalid" class="text-danger">
                <i *ngIf="formControl['loginId'].errors.required">Login ID/Name is required</i>
              </div>
            </div>
            <label class="col-md-1"> <span class="text-danger"> *</span></label>
          </div>
          <div class="form-group row">
            <label for="oldPassword" class="col-md-4 text-right form-label-lg">Old Password </label>
            <div class="col-md-7">
              <input
              formControlName="oldPassword"
              [ngClass]="{'is-invalid': (formControl['oldPassword'].touched || formControl['oldPassword'].dirty) && formControl['oldPassword'].invalid}"
              type="password" class="form-control font-weight-bold text-big" placeholder="Write Old Password  ">
              <div *ngIf="(formControl['oldPassword'].touched || formControl['oldPassword'].dirty) && formControl['oldPassword'].invalid" class="text-danger">
                <i *ngIf="formControl['oldPassword'].errors.required">Old Password  is required</i>
              </div>
            </div>
            <label class="col-md-1"> <span class="text-danger"> *</span></label>
          </div>
          <div class="form-group row">
            <label for="newPassword" class="col-md-4 text-right form-label-lg">New Password</label>
            <div class="col-md-7">
              <input
              formControlName="newPassword"
              [ngClass]="{'is-invalid': (formControl['newPassword'].touched || formControl['newPassword'].dirty) && formControl['newPassword'].invalid}"
              type="password"
              class="form-control font-weight-bold text-big"
              placeholder="Write New Password ">
              <div *ngIf="(formControl['newPassword'].touched || formControl['newPassword'].dirty) && formControl['newPassword'].invalid" class="text-danger">
                <i *ngIf="formControl['newPassword'].errors.required">New Password is required</i>
              </div>
            </div>
            <label class="col-md-1"> <span class="text-danger"> *</span></label>
          </div>
          <div class="form-group row">
            <label for="confirmPassword" class="col-md-4 text-right form-label-lg">Confirm New Password
             </label>
            <div class="col-md-7">
              <input
              formControlName="confirmPassword"
              [ngClass]="{'is-invalid': (formControl['confirmPassword'].touched || formControl['confirmPassword'].dirty) && formControl['confirmPassword'].invalid}"
              type="password" class="form-control font-weight-bold text-big" placeholder="Write New Password again">
              <div *ngIf="(formControl['confirmPassword'].touched || formControl['confirmPassword'].dirty) && formControl['confirmPassword'].invalid" class="text-danger">
                <i *ngIf="formControl['confirmPassword'].errors.required">Confirm Password is required <br></i>
                <i *ngIf="!formControl['confirmPassword'].errors.matched">Confirm Password ,New Password doesn't match</i>
              </div>
            </div>
            <label class="col-md-1"> <span class="text-danger"> *</span></label>
          </div>
          <div class="form-group row">
            <div class="demo-inline-spacing" style="margin: 0 auto;">
              <button type="reset" class="btn btn-secondary">Refresh</button>
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
