<div class="card">
  <div class="card-header bg-light text-dark">
      <h4 class="text-center ">
         Vehicle Location List</h4>
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col-md-5 " >
            <input type="text" (keyup)="search($event)" name="serch" class="form-control" autofocus placeholder="Search by Vehicle Name or Vehicle RegistationNo." />
          </div>

          </div>
     
      <div class="row">
          <div class="data-table">
              <table class="table table-bordered bg-macos table-hover text-center text-light">
                  <thead>
                      <tr>
                          <th>#SN</th>
                          <th>Vehicle Name</th>
                          <th>Device Name</th>
                          <th>Latitude</th>
                          <th>Longitude</th>
                          <th>Location</th>
                          <th>Spreed</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngIf="filterVehicleLocation.length==0 && !isLoading">
                          <td colspan="10" class="text-center">No order found.</td>
                      </tr>
                      <tr *ngIf="isLoading">
                          <td colspan="10" class="text-center text-primary">
                              <img src="../../../../../assets/img/loading.gif" height="40" width="40" /> Loading ...
                          </td>
                      </tr>
                      <tr *ngFor="let vehicle of filterVehicleLocation;let i=index" >
                          <td>{{i+1}}</td>
                          <td>{{vehicle.vehicleName}}</td>
                          <td>{{vehicle.deviceName}}</td>
                          <td>{{vehicle.latitude}}</td>
                          <td >{{vehicle.longitude }}</td>
                          <td >{{vehicle.location }}</td>
                          <td >{{vehicle.spreed }}</td>
                          <td> <button (click)="showMap(vehicle)"  class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>Map Location
                          </button>                              </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          </div>
      </div>
  </div>
  <div class="card">
  <div class="container">  
    <h1>Angular Google Map Get Current Location Example</h1>    
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        ></agm-marker>
    </agm-map>  
    <h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>    
  </div>
</div>


